<div class="left jumbotron">
<p id="notice"><%= notice %></p>

<h1>Attachments</h1>

<table>
  <thead>
    <tr>
    </tr>
  </thead>

  <tbody>
    <% @attachments.each do |attachment| %>
      <div class="panel panel-default">
        <div class="panel-body">  
          <%= attachment.file_file_name %><br><br>
          <%= link_to "Show", attachment, class: "btn btn-primary btn-xs", role: "button" %>
          <%= link_to "Destroy", attachment, method: :delete, data: { confirm: 'Are you sure?' }, 
                  class: "btn btn-default btn-xs", role: "button" %>
        </div>
      </div>
    <% end %>
  </tbody>
</table>
<br>
</div>
