<div class="left jumbotron">
<p id="notice"><%= notice %></p>


<p>
  <strong>Attachable type:</strong>
  <%= @attachment.file_file_name %>
</p>
<p>
	<strong>Post: </strong>
		<a href="<%=  polymorphic_path(@attachment.attachable) %>"><%= @attachment.attachable.try(&:title) %></a>
</p>

<%= link_to 'Back', attachments_path %>
</div>
