<div class="left jumbotron">
  <h1>Welcome to the Paperclip-S3 Demo</h2>

    Paperclip let's you add attachments such as photos as well as files. <br>
    S3 is where the photos and files are being uploaded. <br><br>
    You can check progress bar in pictures/new. It is a direct upload to S3, <br>
    but I wasn't able to get the object from S3, to pass it to the controller.<br><br>

  <%= link_to "Create a Post", 'posts/new', class: "btn btn-lg btn-primary" %>

</div>


<%= link_to image_tag("rails.png", alt: "Rails logo"), 'https://www.ruby-lang.org/en/' %>