<div class="left jumbotron">
<p id="notice"><%= notice %></p>

<h1>Pictures</h1>

<table>
  <thead>
    <tr>
    </tr>
  </thead>

  <tbody>
    <div class="container">
      <div class='row'>
        <% @pictures.each do |picture| %>
          <div class='col-sm6 col-md-4 row-eq-height'>
            <div class="thumbnail">
              <div class="img-wrapper">
                <%= image_tag(picture.image.url, class: "img-responsive") %><br>
                Post: <%= picture.imageable.try(&:title) %><br><br>
                <%= link_to "Show", picture, class: "btn btn-primary btn-xs", role: "button" %>
                <%= link_to "Destroy", picture, method: :delete, data: { confirm: 'Are you sure?' }, 
                            class: "btn btn-default btn-xs", role: "button" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </tbody>
</table>
</div>
