<div class="left jumbotron">
<p id="notice"><%= notice %></p>

<p>
	<%= image_tag @picture.image.url %>
</p>
<p>
	<strong>Post: </strong>
		<a href="<%=  polymorphic_path(@picture.imageable) %>"><%= @picture.imageable.try(&:title) %></a>
</p>

<%= link_to 'Back', pictures_path %>
</div>