<!-- app/views/galleries/_form.html.erb -->
<%= form_for @post, :html => { :class => 'form-horizontal', multipart: true } do |f| %>

  <div class="form-group">
    <%= f.label :title, :class => 'control-label' %>
    <%= f.text_field :title, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :content, :class => 'control-label' %>
    <%= f.text_area :content, rows: 5, :class => 'form-control' %>
  </div>
  <div class="control-group">
    <%= f.label :pictures, :class => 'control-label' %>
    <%= file_field_tag "images[]", type: :file, multiple: true %>
  </div>
  <div class="control-group">
    <%= f.label :attachments, :class => 'control-label' %>
    <%= file_field_tag "files[]", type: :file, multiple: true %>
  </div>
  <br>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                posts_path, :class => 'btn btn-mini' %>
  </div>
<% end %>