<div class="left jumbotron">
<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <div class="row">
      <% @posts.each do |post| %>
        <div class="panel panel-default">
          <div class="panel-body">
            <h4><strong><a href="<%= post_path(post) %>"><%= post.title %></a></strong></h4>
            <% if post.pictures.first %>
              <img src="<%= post.pictures.first.image.url(:medium) %>"/>
            <% else %>
              <img/>
            <% end %>     
            <%= post.content %><br><br>
            <%= link_to 'Edit', edit_post_path(post), class: 'btn btn-default btn-sm' %>
            <%= link_to 'Remove', post, :method => :delete, :data => { :confirm => 'Are you sure?', :remote => true }, class: 'btn btn-default btn-sm remove' %>
          </div>
        </div>
      <% end %>
    </div>
  </tbody>
</table>

<br>

<%= link_to 'Back', '/#' %>
</div>


<hr>