<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>Image</strong>
  <% @post.pictures.each do |picture| %>
  		<%= image_tag picture.image.url %>
  <% end %>
</p>

<p>
  <strong>Attachment:</strong>
  <% @post.attachments.each do |attachment| %>
  		<%= attachment.file_file_name %>
  <% end %>
</p>



<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
