<footer class="footer">
  <small>
    The <a href="https://gizelles3.herokuapp.com/">Paperclip-S3 Demo</a>
    by <a href="https://bitbucket.org/mademoizelle/">Gizelle Peras</a>
  </small>
  </nav>
</footer>