<header class="navbar navbar-nav navbar-fixed-top">
  <div class="container">
    <%= link_to "Paperclip-S3 Demo", '#', id: "logo" %>
    <nav>
    <ul class="nav nav-tabs navbar-custom">
        <li><%= link_to "Home",   '/#' %></li>
        <li><%= link_to "Posts",   posts_path %></li>
        <li><%= link_to "All Photos",   pictures_path %></li>
        <li><%= link_to "All Files",   attachments_path %></li>
      </ul>
    </nav>
  </div>
</header>